:root{
    --green: #3ebd9d;
    --white: #fff;
    --lightBlack: #404040;
}
*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.flx-colum{
    display: flex;
    flex-direction: column;
}
.flx-row{
    display: flex;
    flex-direction: row;
}
.flx-center{
    justify-content: center;
    align-items: center;
}
.flx-gap20{
    gap: 20px;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: var(--lightBlack);
    color: var(--lightBlack);
}

header{
    width: 100%;
    height: 90px;
    border-top: 4px solid var(--green);
    padding: 20px 10vw;
    background: var(--white);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0,.2);
    display: flex;
}
header a{
    text-decoration: none;
    color: var(--lightBlack);
}

.logo-big{
    height: 50px;
    font-size: calc(16px + 1vw);
    font-weight: 700;
    color: var(--lightBlack);
}

.logo-big span{
    color: var(--green);
}

.logo-sub{
    border-left: 1px solid var(--lightBlack);
    padding: 0 20px;
    height: 25px;
    opacity: .5;
}
.header-mobile{
    display: none;
}

.header-nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    font-size: calc(8px + .5vw);
    font-weight: 600;
    height: 90px;
}
.header-nav li:hover{
    height: 86px;
    border-bottom: 4px solid var(--green);
}

/* SECTION banner */
.section_banner{
    height: 710px;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../assets/img/webp/pexels-andrea-piacquadio-874242.webp) no-repeat center;
    background-size: cover;
}

.section_banner-title{
    font-size: calc(20px + .9vw);
    padding-right: 20vw;
}
.section_banner-title :is(h1, h2){
    font-weight: 700;
    color: var(--white);
}

.section_banner-title :is(h1 span, h2 span){
    color: var(--green);
}
.section_banner-title p{
    font-size: calc(16px + .5vw);
    color: var(--white);
    padding: 20px 0;
}
.banner-button a{
    font-size: calc(8px + .5vw);
    color: var(--white);
    background: var(--green);
    width: 90px;
    padding: 10px;
    box-sizing: initial;
    cursor: pointer;
}
.banner-button a:hover{
    opacity: .8;
}

/*SECTION SERVICES*/
.section_services{
    min-height: 300px;
    background: url(../assets/img/webp/background1.webp) repeat;
    padding: 50px 0;
    gap: 50px;
    flex-wrap: wrap;
}
.service_container{
    width: 270px;
    display: flex;
    position: relative;
}
.service_container_img img{
    width: 91px;
    height: 91px;
    background: #35ae92;
    border: 2px solid #2ea287;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.service_container::before{
    content: "";
    background: url(../assets/img/webp/divider1.webp) repeat-x center 0;
    display: block;
    position: absolute;
    width: 75px;
    height: 2px;
    top: 45px;
    left: 0;
}
.service_container::after{
    content: "";
    background: url(../assets/img/webp/divider1.webp) repeat-x center 0;
    display: block;
    position: absolute;
    width: 75px;
    height: 2px;
    top: 45px;
    right: 0;
}
.service_container_text{
    text-align: center;
    color: var(--white);
    padding: 20px 0;
    border-bottom: 1px solid #2ea287;
    box-shadow: 0 1px 0 0 #44cdab;
}

.service_container_text p{
    padding: 20px 0;
}

.services_container_link{
    padding: 20px 0;
}
.services_container_link a{
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
}

/* SECTION WELCOME */
.section_welcome{
    min-height: 300px;
    background: var(--white);
    padding: 50px 0;
}

.welcome_center{
    flex-wrap: wrap;
}

.welcome_text{
    flex: 0 50%;
    min-width: 600px;
    padding: 20px 0px;
}
.welcome_text h2, .welcome_expertise h2{
    font-size: calc(25px + .5vw);
}

.welcome_text .banner-button{
    padding: 20px 0;
}

.welcome_text  p:nth-child(2){
   font-size: calc(20px + .5vw);
   font-weight: 10;
}

.welcome_expertise{
    justify-content: center;
    align-items: first baseline;
    min-width: 530px;
    padding: 20px 0px;
}
.expertise{
    justify-content: center;
}
.expertise_img{
    width: 69px;
    height: 69px;
    background-color: rgba(213,213,213,1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.expertise_level{
    gap: 15px;
}
.expertise_bar{
    width: 100%;
    height: 10px;
    background-color: rgba(213,213,213,1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.expertise_bar_lvl{
    height: 10px;
    background: var(--green);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#expertise_1{
    width: 90%;
}
#expertise_2{
    width: 50%;
}
#expertise_3{
    width: 80%;
}

/* SECTION BANNER 2 */
#banner_2{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../assets/img/webp/pexels-christina-morillo-1181317.webp) no-repeat center;
}

/* SECTION TESTIMONIAL */
.section_testimonial{
    min-height: 300px;
    background-color: var(--white);
    padding: 50px 0;
}
.testimonial_title h2{
    font-size: calc(25px + .5vw);
}

.testimonial_center{
    width: 90%;
    gap: 30px;
}

.testimonial_container{
    gap: 30px;
    flex-wrap: wrap;
}

.testimonial{
    border: 1px solid rgba(0,0,0,.2);
    padding: 30px;
    justify-content: center;
    max-width: 500px;
    min-width: 330px;
}
.testimonial p{
    padding: 5px 0;
}

.testimonial_text p{
    font-style: italic;
}
.testimonial_text::before{
    display: inline-block;
    width: 100%;
    content: "\275D";
    color:var(--green);
    font-weight: bold;
    font-size: 50px;
}

.testimonial_text::after{
    display: inline-block;
    width: 100%;
    content: "\275E";
    color:var(--green);
    font-weight: bold;
    font-size: 50px;
    text-align: right;
}

.testimonial_autor{
    display: flex;
    border-top: 1px solid rgba(0,0,0,.2);
    padding-top: 30px;
    justify-content: space-between;
}
.testimonial_autor p{
    padding: 5px 0;
}

.testimonial_autor p:first-child{
    font-weight: bold;
}

/* SECTION MAP */
.section_map{
    background-color: var(--white);
}

/* Footer */
footer{
    background-color: var(--white);
    gap: 30px;
    padding: 20px 0;
}

.footer-sections{
    gap: 30px;
}

.footer-logo .logo-sub{
    border-left: 0px;
}

.footer-nav li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}
.footer-nav a{
    text-decoration: none;
    color: var(--lightBlack);
}
.footer-nav a:hover{
    text-decoration: underline;
}

.footer-social a:hover img{
    opacity: .7;
}

.footer-copyright{
    gap: 50px;
}

.footer-copyright a{
    color: var(--lightBlack);
}
.footer-copyright p:nth-child(2) span{
    color: rgba(180, 34, 34,1)
}

/* START MEDIA QUERRY */

@media screen and (max-width: 1100px) {
    header{
        flex-direction: column;
        height: 160px;
    }
    .logo-big{
        font-size: calc(30px);
    }
    .section_banner{
        height: 500px;
    }
    .footer-sections{
        flex-direction: column;
        padding-top: 30px;
    }
    .section_banner-title{
        padding: 0;
        text-align: center;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 600px) {

/* Start header mobile*/
    header{
        height: 121px;
        position: fixed;
        z-index: 1;
    }
    .header-left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo{
        flex-direction: column;
        gap: 0;
        flex: 0 calc(100% - 50px);
    }
    .logo-sub{
        border: 0;
    }

    .header-mobile{
        display: block;
    }

    #mobileButtons{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }

    .mobile-buttons.open li:first-child{
        transform: translateY(18px) rotate(45deg);
        -webkit-transform: translateY(18px) rotate(45deg);
        -moz-transform: translateY(18px) rotate(45deg);
        -ms-transform: translateY(18px) rotate(45deg);
        -o-transform: translateY(18px) rotate(45deg);
    }
    .mobile-buttons.open li:nth-child(2){
        transform: translateY(3px) rotate(-45deg);
        -webkit-transform: translateY(3px) rotate(-45deg);
        -moz-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
        -o-transform: translateY(3px) rotate(-45deg);
    }
    .mobile-buttons.open li:last-child{
        transform: translateY(-12px) rotate(-45deg);
        -webkit-transform: translateY(-12px) rotate(-45deg);
        -moz-transform: translateY(-12px) rotate(-45deg);
        -ms-transform: translateY(-12px) rotate(-45deg);
        -o-transform: translateY(-12px) rotate(-45deg);
    }

    .header-mobile li{
        list-style: none;
        width: 100%;
        height: 10px;
        background: #404040;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }


    .header-nav{
        display: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transform: translateX(-1000px);
        -webkit-transform: translateX(-1000px);
        -moz-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
        -o-transform: translateX(-1000px);
    }

    .header-nav.open{
        display: block;
        position: fixed;
        height: calc(100vh - 121px);
        background: rgba(255,255,255,1);
        z-index: 1;
        width: 100vw;
        top: 121px;
        padding: 50px 0;
        animation: navOpen 1s forwards;
        -webkit-animation: navOpen 1s forwards;
    }
    @keyframes navOpen {
        100%{
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
}
    }
    .header-nav ul{
        flex-direction: column;
    }
    .header-nav.open li{
        font-size: 25px;
    }
/* Start Section banner*/
    #banner_1{
        margin-top: 121px;
    }
/* Start Section Welcome*/
    .section_welcome{
        justify-content: unset;
    }
    .welcome_center{
        flex-direction: column;
        padding: 0 20px;
    }
    .welcome_text{
        min-width: auto;
        flex: none;
    }
    .welcome_expertise{
        min-width: auto;
    }
/* Start Footer*/
   .footer-copyright{
       flex-direction: column;
       gap: 20px;
       text-align: center;
   }
   .footer-nav ul{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 20px;
       font-size: 20px;
   }
}