@media screen and (max-width: 1100px) {
    header{
        flex-direction: column;
        height: 160px;
    }
    .logo-big{
        font-size: calc(30px);
    }
    .section_banner{
        height: 500px;
    }
    .footer-sections{
        flex-direction: column;
        padding-top: 30px;
    }
    .section_banner-title{
        padding: 0;
        text-align: center;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 600px) {

/* Inizio header mobile*/
    header{
        height: 121px;
        position: fixed;
        z-index: 1;
    }
    .header-left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-logo{
        flex-direction: column;
        gap: 0;
        flex: 0 calc(100% - 50px);
    }
    .logo-sub{
        border: 0;
    }
    .header-mobile{
        display: block;
    }
    #mobileButtons{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }

    .mobile-buttons.open li:first-child{
        transform: translateY(18px) rotate(45deg);
        -webkit-transform: translateY(18px) rotate(45deg);
        -moz-transform: translateY(18px) rotate(45deg);
        -ms-transform: translateY(18px) rotate(45deg);
        -o-transform: translateY(18px) rotate(45deg);
    }
    .mobile-buttons.open li:nth-child(2){
        transform: translateY(3px) rotate(-45deg);
        -webkit-transform: translateY(3px) rotate(-45deg);
        -moz-transform: translateY(3px) rotate(-45deg);
        -ms-transform: translateY(3px) rotate(-45deg);
        -o-transform: translateY(3px) rotate(-45deg);
    }
    .mobile-buttons.open li:last-child{
        transform: translateY(-12px) rotate(-45deg);
        -webkit-transform: translateY(-12px) rotate(-45deg);
        -moz-transform: translateY(-12px) rotate(-45deg);
        -ms-transform: translateY(-12px) rotate(-45deg);
        -o-transform: translateY(-12px) rotate(-45deg);
    }

    .header-mobile li{
        list-style: none;
        width: 100%;
        height: 10px;
        background: #404040;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }


    .header-nav{
        display: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transform: translateX(-1000px);
        -webkit-transform: translateX(-1000px);
        -moz-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
        -o-transform: translateX(-1000px);
    }

    .header-nav.open{
        display: block;
        position: fixed;
        height: calc(100vh - 121px);
        background: rgba(255,255,255,1);
        z-index: 1;
        width: 100vw;
        top: 121px;
        padding: 50px 0;
        animation: navOpen 1s forwards;
        -webkit-animation: navOpen 1s forwards;
    }
    @keyframes navOpen {
        100%{
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
        }
    }
    .header-nav ul{
        flex-direction: column;
    }
    .header-nav.open li{
        font-size: 25px;
    }
/* Inizio Section banner*/
    .section_banner{
        margin-top: 121px;
    }
/* Inizio Section Welcome*/
    .section_welcome{
        justify-content: unset;
    }
    .welcome_center{
        flex-direction: column;
        padding: 0 20px;
    }
    .welcome_text{
        min-width: auto;
        flex: none;
    }
    .welcome_expertise{
        min-width: auto;
    }
/* Inizio Footer*/
   .footer-copyright{
       flex-direction: column;
       gap: 20px;
   }
   .footer-nav ul{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 20px;
       font-size: 20px;
   }
}